<%inherit file="/base.html"/>

<%block name="content">
    <style type="text/css">
        #footer{
            position: relative;
            bottom: -40px;
        }
    </style>
    <div class="page-contactus">
        <!-- 内容 start-->
        <!--comtactus-detail -->
        <div class="container" >
            <div class="tc" id="contactus">
                <div class="weixin-img-arrow">
                    <div>
                        <img class="weixin-img " src="${STATIC_URL}img/weixin_icom.png">
                    </div>
                    <p>关注我们</p>
                </div>
                <div class="comtactus-way-arrow tc mt50">
                    <div class="dbi border-right tc" style="width: 280px; padding-left: 60px">
                        <div class="img-arrow">
                            <img  class="" src="${STATIC_URL}img/icom_01.png">
                        </div>
                        <p class="mt20">杭州市西湖区西湖福地创业园A-5F</p>
                    </div>
                    <div class="dbi border-right tc" style="width: 180px">
                        <div class="img-arrow">
                            <img src="${STATIC_URL}img/icom_02.png">
                        </div>
                        <p class="mt20">支持QQ：563395139</p>
                    </div>
                    <div class="dbi tc" style="width: 280px">
                        <div class="img-arrow">
                            <img src="${STATIC_URL}img/icom_03.png">
                        </div>
                        <p class="mt20">邮箱：baiyang@dianjia.io</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- 内容 start-->
    </div>
</%block>
<%block name='footerline'>
    <hr class="guide-cutting-line">
</%block>
